* {
    margin: 0;
    padding: 0;
}
.Container {
    display: flex;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    width: 100%;
}
.TypeForm {
    display: flex;
    border-radius: 20px;
    width: 50%;
    background-color: black;
    color: white;
}
.TF-Section-1 {
    width: 100%;
}
.TF-Section-1 video {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.TF-Section-2 {
    width: 100%;
    padding: 5vh 2.5vw;
}

.TF-Section-2-Header {
    margin-bottom: 20px;
    font-size: 2vw;
}
.TF-Section-2-Body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.TF-Inputs {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 40px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
}
.TF-Inputs:active {
    outline: none !important;
    box-shadow: none;
}
.TF-Inputs:focus {
    outline: none !important;
    box-shadow: none;
    background-color: black;
    color: rgb(230, 230, 230, 0.8);
}
.TF-Inputs::placeholder {
    color: rgba(158, 158, 158, 0.8);
}
.TF-Submit {
    margin-top: 10px;
}

/* Mobile screen media query */
@media (max-width: 767px) {
    .TypeForm {
        flex-direction: column;
        height: 100%;
    }
    .TF-Section-1{
        height: 100%;
    }
    .TF-Section-1 video{
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }
    .TF-Section-2{
        padding: 20px 20px;
    }
    .TF-Section-2-Header{
        margin-bottom: 5px;
        font-size: 4vw;
    }

    /* Add more styles as needed for a better mobile experience */
}
